body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

input {
  padding: 5px;
  margin: 8px;
}

textarea {
  resize: none;
}

.warning {
  color: red;
}

.small-text {
  font-size: 12px;
}
